/* Sections & Sitemap
------------------------------------------------------------ */
.btn .disabled {
    background-color: grey;
    color: black;
    cursor: none;
}

.no-link {
    padding-left: 10px;
}

.sitemap-custom-url:focus {
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    padding: 6px 4px;
}

.sitemap-custom-url {
    background: #ffffff;
    border: none;
    display: inline-block;
    margin-left: -4px;
    overflow: hidden;
    padding: 7px 5px;
    width: 85%;
}

.sitemap-settings {
    margin-top: 30px;
}

.sitemap-settings:first-of-type {
    margin-top: 0;
}

.sitemap-settings:last-of-type {
    margin-bottom: 30px;
}

/* Optimized Meta Icons */
.sprout-metadata-status {
    margin-top: -7px;
    position: relative;
}

.sprout-metadata-status span {
    display: inline-block;
    position: absolute;
}

.sprout-metadata-status .icon-edit {
    padding-left: 0;
    top: 1px;
}

.sprout-metadata-status .icon-search {
    padding-left: 40px;
}

.sprout-metadata-status .icon-facebook {
    padding-left: 57px;
    top: 1px;
}

.sprout-metadata-status .icon-twitter {
    padding-left: 75px;
    top: 1px;
}

.sproutseo-section-header {
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9fafa));
    background-image: linear-gradient(#ffffff, #f9fafa);
    -webkit-box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
    margin: -24px -24px 20px;
    padding: 24px;
}

/*.sitemap-custom-url:focus {*/
/*border: 1px solid rgba(0, 0, 0, 0.15);*/
/*padding: 6px 4px;*/
/*outline: none;*/
/*}*/
/*.sitemap-custom-url {*/
/*display: inline-block;*/
/*margin-left:-4px;*/
/*width: 85%;*/
/*border: none;*/
/*padding: 7px 5px;*/
/*background: #fff;*/
/*overflow: hidden;*/
/*}*/
.sitemap-settings {
    margin-top: 30px;
}

.sitemap-settings:first-of-type {
    margin-top: 0;
}

.sitemap-settings:last-of-type {
    margin-bottom: 30px;
.sprout-redirects-index table thead th[data-attribute="oldUrl"] {
    min-width: 180px;
}

/* Override hr on matrix blocks to display nicely */
.pane hr {
    margin: 14px -14px;
}            